body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #fcd34d, #f97316);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(docb\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.register-container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

h2 {
  color: #ea580c;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background: #ea580c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #c2410c;
}

.back a {
  color: #ea580c;
  text-decoration: none;
}

.back a:hover {
  text-decoration: underline;
}
